@using SimulationKernel.Areas.Identity
@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
      <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
      <PageTitle>Not found</PageTitle>
      <LayoutView Layout="@typeof(MainLayout)">
        <div class="card border m-5">
          <div class="card-body text-center">
            <span class="text-center">Sorry, there's nothing at this address.</span>
          </div>
        </div>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>

@code {
  [Parameter]
  public TokenProvider InitialState { get; set; }

  protected override Task OnInitializedAsync()
  {
    TokenProvider.XsrfToken = InitialState.XsrfToken;

    return base.OnInitializedAsync();
  }
}